
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 50vw;
    margin: 0 auto;
}

.card {
    position: relative;
    background-color: purple;
    margin: 5px;
    width: 100%;
    height: 300px;
}

.content {
    display: none;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
    padding: 10px;
    margin: 5px 0;
}

.card:hover .content {
    z-index: 999;
    position: absolute;
    background-color: blue;
    display: flex;
    width: 100%;
    height: 150px;
    top: auto;
    bottom: -150px;
}

.btn-container {
    display: flex;
    justify-content: center;
}